
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@Html.ActionLink("Action01 ajax form", "Action01Get")</h1>
    <h1>@Html.ActionLink("Action02 ajax form", "Action02Get")</h1>
    <h1>@Html.ActionLink("Action03 SAP", "Action03Get")</h1>
    <h1>@Html.ActionLink("Action05 form with SAP", "Action05Get")</h1>
</body>
</html>
