@model Vue_ET_Son_Model.Models.ActionModel06
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action06Post</title>
</head>
<body>
    <h3>Action06 - POST</h3>
    Valeurs postées :
    <ul>
        <li>ID de la personne sélectionnée : @Model.PersonneId</li>
        <li>Commande utilisée : @Model.Valider</li>
    </ul>
</body>
</html>
