
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Action17Get</title>
</head>
<body>
    <h3>Navigation - Page 2</h3>
    <h4>@ViewBag.info</h4>
    <p>
        @Html.ActionLink("Page 1", "Action16Get", "First")
    </p>
</body>
</html>
