<h2>Formulaire</h2>
<div id="simulation" />
@using (Html.BeginForm("FaireSimulation", "Pam", FormMethod.Post, new{  id ="formulaire"}))
{
    <select name="">
        <option value=""></option>
    </select>
}